/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap'); */

:root{
  --primary: #0a2343;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  
}

/* base styles & title */
body{
  /* font-family: "Noto Serif"; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: var(--secondary);
}

label {
  font-size: 1.3rem;
}


.App{
  max-width: 960px;
  margin: 0 auto;
}

.dashNav {
  margin-top: 30px;
}


.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  /* grid-gap: 20px; */
}


.err {
  color:rgb(224, 11, 11);
  font-size: 24px;
  text-align: center;
  border-style: double;
  border-color:rgb(224, 11, 11);
}


